<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Portal Berita</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Beranda</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kategori
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="general">Umum</a></li>
            <li><a class="dropdown-item" routerLink="tech">Teknologi</a></li>
            <li><a class="dropdown-item" routerLink="business">Bisnis</a></li>
            <li><a class="dropdown-item" routerLink="entertainment">Entertainment</a></li>
            <li><a class="dropdown-item" routerLink="sports">Sports</a></li>
            <li><a class="dropdown-item" routerLink="health">Kesehatan</a></li>
            <li><a class="dropdown-item" routerLink="science">Science</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="mt-3">
  <p class="text-center">&copy; Portal Berita By Densu 2021</p>
</footer>
