<div class="container-fluid mt-5">
    <h4>Berita Teknologi</h4>
    <div class="row">
        <div *ngFor="let d of technewsDisplay" class="col-lg-3 mt-3 mb-3">
            <div class="box">
                <img src="{{d.urlToImage}}" width="100%">
                <h5 class="mt-2 mb-2">{{d.title}}</h5>
                <a href="{{d.url}}" class="btn btn-dark btn-sm" target="_blank">Baca Selengkapnya</a>
            </div>
            
        </div>
    </div>
</div>

