/* You can add global styles to this file, and also import other style files */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(134, 205, 247);
}

.box
{
    padding: 10px 10px;
    background-color: rgb(248, 248, 248);;

}

.box h5
{
    font-size: 16px;
}